* {
    box-sizing: border-box;
}

body {
    background: rgb(225, 186, 59);
    background: linear-gradient(0deg, rgba(225, 186, 59, 1) 0%, rgba(255, 177, 0, 1) 16%, rgba(252, 220, 80, 1) 100%);
    min-height: 100vh;
    padding-top: 100px;
}

article.info {
    border: 6px double black;
    width: 600px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
}

article.info div.content_block div.left_block {
    padding: 5px 10px 10px 5px;
}

article.info #p_name,
article.info #lng,
article.info #lat {
    border-bottom: 2px dashed black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    background: none;
    outline: none;
    font-size: 16px;
}

article.info #lng,
article.info #lat {
    width: 140px;
}

article.info footer.footer {
    /* border: 2px solid red; */
    margin-top: 5px;
}

article.info footer.footer p {
    margin: 0;
    font-size: 14px;
    display: inline-block;
}

article.info footer.footer p:last-child {
    margin-left: 20px;
}

article.info footer.footer p>span {
    background-color: lightblue;
    display: inline-block;
    width: 20px;
    text-align: center;
    border-radius: 2px;
}

article.info footer.footer div.action_block {
    display: flex;
    justify-content: space-between;
    background-color: hsla(45deg, 50%, 50%, .5);
    padding: 10px;
}

article.info footer.footer div.action_block button {
    cursor: pointer;
}

article.info footer.footer div.action_block div.left_block {
    /* border: 1px solid red; */
}

article.info footer.footer div.action_block div.right_block {
    /* border: 1px solid green; */
}


article.info div.content_block {
    /* border: 1px solid red; */
    display: flex;
}

article.info div.content_block div.left_block {
    /* border: 1px solid green; */
    flex-basis: 150px;
    flex-shrink: 0;
}

article.info div.content_block div.right_block {
    /* border: 1px solid red; */
    flex-grow: 1;
}

article.info div.content_block div.block {
    margin-bottom: 8px;
}

article.info div.content_block div.block.-middle>* {
    vertical-align: middle;
}

article.info div.content_block div.block:last-child {
    margin-bottom: 0;
}

article.info #p_file {
    display: none;
}

#preview {
    border: 1px dashed white;
    display: inline-block;
    width: 100%;
    height: 120px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

#preview span.text {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: white;
}

#preview img.preview_img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: -1;
}